<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\agnet\source\repos\car-rental-service - agneta\carrentalservicehost\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<connectionStrings >  Denna lade jag till i ett skede i början när jag inte fick min kommunikation att funka och jag funderade på att lägga till SQL.
    <add name="DBCS" connectionString="Server=.\SQLExpress;Database=CarRental;&#xD;&#xA;Trusted_Connection=Yes;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="mexBehavior" name="WCFCarRentalService.CarService">
        <!--<endpoint address="RestService" binding="webHttpBinding" contract="WCFCarRentalService.IRestService"/>-->
        <endpoint address="Backoffice" binding="netTcpBinding" contract="WCFCarRentalService.IBackoffice" bindingConfiguration="netTcp" />
        <endpoint address="CarService" binding="wsHttpBinding" contract="WCFCarRentalService.ICarService"  />  
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <!--Denna lade jag till innan jag fattade att RestHosten skulle vara helt separerad från denna....-->
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>
