<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFCarRentalService.Self">
                <endpoint address="" binding="basicHttpBinding" contract="WCFCarRentalService.ICarService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFCarRentalService/CarService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFCarRentalService.BackofficeService">
                <endpoint address="" binding="mexHttpBinding" contract="WCFCarRentalService.IBackoffice">  <!--//ändrat här-->
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFCarRentalService/Backoffice/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFCarRentalService.CarService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFCarRentalService.ISelfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFCarRentalService/SelfService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFCarRentalService.CustomerService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFCarRentalService.ICustomerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFCarRentalService/CustomerService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFCarRentalService.Customer">
                <endpoint address="" binding="basicHttpBinding" contract="WCFCarRentalService.ICustomer">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFCarRentalService/Customer/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
